/Grasp_pred_model/results/
/Grasp_pred_model/wandb/
/backup_script/
/realsense_test/
/knolling_box/
/RL_dynamic_model/
/ideas.txt
/Arrange_knolling_model/train_multi_knolling_zzz/data/
/Arrange_knolling_model/train_multi_knolling_zzz/wandb/
/Arrange_knolling_model/train_multi_knolling_zzz/results/
