<?xml version="1.0" encoding="utf-8"?>
<robot name="chisel_3_L0.65_T0.65">
  <link name="chisel_3_L0.65_T0.65Link">
    <contact>
      <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="generated_stl/chisel/chisel_3/chisel_3_L0.65_T0.65/chisel_3_L0.65_T0.65.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="generated_stl/chisel/chisel_3/chisel_3_L0.65_T0.65/chisel_3_L0.65_T0.65.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>