<?xml version="1.0" encoding="utf-8"?>
<robot name="motor_2_L0.79_T0.80">
  <link name="motor_2_L0.79_T0.80Link">
    <contact>
      <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="generated_stl/motor/motor_2/motor_2_L0.79_T0.80/motor_2_L0.79_T0.80.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="generated_stl/motor/motor_2/motor_2_L0.79_T0.80/motor_2_L0.79_T0.80.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>