<?xml version="1.0" encoding="utf-8"?>
<robot name="wrench_3_L0.97_T0.91">
  <link name="wrench_3_L0.97_T0.91Link">
    <contact>
      <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="generated_stl/wrench/wrench_3/wrench_3_L0.97_T0.91/wrench_3_L0.97_T0.91.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="generated_stl/wrench/wrench_3/wrench_3_L0.97_T0.91/wrench_3_L0.97_T0.91.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>